body{
    background-image: url("images/background.jpg");
    color : white;
}
h1 {
    text-align: center;}

img {
    width : 150px;
    height : 150px;
    }

#TitrePage{
    text-align: center;
}
h3{
    text-align: center;
}

#namePlayer{
    opacity: 0;
    margin-top: 25px;
}

#score{
    text-align: center;
}

#positionVie {
    display: flex;
}

#positionVie img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: red;
}
